.container {
  /*width: 50%;*/
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 20px solid #bdc3c7;
  font-family: source sans pro;
}

h2 {
  margin: 0;
  color: #3498db;
  /*font-family: source sans pro;*/
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  /*letter-spacing: 0.2em;*/
  letter-spacing: 0.2rem;
}

h1 {
  color: #2c3e50;
  /*font-family: source sans pro;*/
}

p {
  /*font-family: source sans pro;*/
  font-weight: 600;
}

.paragraph {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.divider {
  border-bottom: 1px solid #bdc3c7;
  margin-bottom: 10px;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post {
  margin-bottom: 20px;
}
