table {
	margin: 0 auto;
	border-collapse: collapse;
}

td {
	width: 200px;
	height: 200px;
}

.top-row {
	border-bottom: 1px solid black;
}

.middle-row {
	border-bottom: 1px solid black;
}

.left {
	border-right: 1px solid black;
}

.right {
	border-left: 1px solid black;
}

h1 {
	text-align: center;
	font-weight: 2;
}